.container {
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  min-height: 100vh;
  box-sizing: border-box;
  width: 100vw;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar {
  position: fixed;
  top: 0px;
  height: 27vh;
  color: var(--text-light);
  width: 100vw;
  padding: 0px;
}

.topmenu {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 40px;
}

.addButton {
  display: flex;
  justify-self: end;
  color: var(--fds-orange);
  margin-right: 40px;
  composes: baseGlowText from "../../styles.module.css";
}

.user {
  display: grid;
  grid-template-columns: 48px auto 48px;
  align-items: center;
  margin: 0px 40px 0px 40px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.uploadSpace {
  display: flex;
  margin: 20px 40px;
  height: 80px;
  background-color: var(--fds-dark);
  border-radius: 10px;
  composes: bodyBold from "../../styles.module.css";
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.innercontainer {
  margin-top: 30vh;
  overflow: scroll;
  height: 70vh;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth ;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.innercontainer::-webkit-scrollbar {
  display: none;
}

.folderMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.folderMenuTitle {
  composes: bodyBold from "../../styles.module.css";
}

.dialogContainer {
  background-color: var(--fds-dark);
}

.progress {
  width: 80%;
  margin: 10px 0px;
  color: var(--text-light);
}

.folderLoading {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-light);
}

.title {
  composes: mainTitle1 from "../../styles.module.css";
  color: white;
  margin: 0px 40px;
}

.subtitle {
  composes: bodyDefault from "../../styles.module.css";
  color: var(--fds-orange);
  text-align: center;
  margin: 20px 0px 20px 0px;
  line-height: 150%;
}

.breadcrumbitem {
  composes: bodyDefault from "../../styles.module.css";
color: var(--fds-orange);
}

.breadcrumb {
  composes: bodyDefault from "../../styles.module.css";
margin-top: 10px;
  margin: 0px 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 180%;
  align-items: baseline;
}
.breadcrumbspace {

}

.username {
  composes: bodyBold from "../../styles.module.css";
  color: white;
  line-height: 120%;
  cursor: pointer;
}

.balance {
  composes: bodyBold from "../../styles.module.css";
  composes: baseGlowText from "../../styles.module.css";
  color:var(--fds-orange);
  line-height: 120%;
}

.status {
  composes: bodyDefault from "../../styles.module.css";
  line-height: 150%;
  color: white;
  margin: 0px 40px;
}

.fileProps {
  composes: bodyDefault from "../../styles.module.css";
  line-height: 150%;
  color: var(--text-light);
}

.rowItem {
  padding: 16px 40px 14px 40px;
  border-bottom: 1px solid var(--fds-dark);
  align-items: center; 
  display: grid;
  grid-template-columns: 30px auto 10px;
  grid-gap: 20px;
  box-sizing: border-box;
  composes: bodyBold from "../../styles.module.css";
  line-height: 150%;
  color: white;
  max-width: 100vw;
  cursor: pointer;
}

.folderText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileIcon {
  max-width: 24px;
  align-self: center;
}

.closeButton {
  position: fixed;
  top: 18px;
  right: 18px;
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.appicon {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.flexer {
  margin: 20px;
}

.nameInput {
  composes: bodyDefault from "../../styles.module.css";
  text-align: left;
  padding-bottom: 5px;
  border: 0px;
  border-bottom: 1px solid var(--fds-orange);
  background-color: transparent;
  color: var(--text-light);
  outline: none;
}

.blue {
  color: var(--fds-orange);
}

.foldermenu {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-items: left;
  max-width: 520px;
}

.closeicon {
  background-image: url("../../images/FairDrive-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  background-position: -144px -234px;
  width: 36px;
  height: 36px;
}

.menutitle {
  composes: bodyBold from "../../styles.module.css";
  color: var(--text-light);
  font-size: 120%;
  margin: 10px 0px 20px 0px;
white-space: nowrap;
overflow: hidden;
width: 100%;
text-overflow: ellipsis;
}

.menuitem {
  display: grid;
  composes: link from "../../styles.module.css";
  grid-template-columns: 40px auto;
  align-items: center;
  padding: 10px 0px ;
}

.close {
display: flex;
flex-direction: row;
justify-content: flex-end;
text-align: right;
  color: var(--text-light);
}

.buttonPlace {
  margin-top: 20px;
  align-self: flex-start;
}

.statusText {
  margin-bottom: 15px;
  composes: bodyBold from "../../styles.module.css";
  color: var(--text-light);
}

.shareLink {
  composes: bodyDefault from "../../styles.module.css";
 margin-top: 10px;
 color: var(--text-light)
}
