@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&family=Work+Sans:wght@400;500;700&family=Source+Code+Pro:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Work Sans Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: caluculateRem(34);
  font-weight: 400;
}
h2 {
  font-size: caluculateRem(24);
  font-weight: 400;
}
h3 {
  font-size: caluculateRem(18);
  font-weight: 700;
}
h4 {
  font-size: caluculateRem(20);
  font-weight: 400;
}
h5 {
  font-family: 'Work Sans';
  font-size: caluculateRem(22);
  font-weight: 400;
}
p {
  font-family: 'Work Sans';
  font-size: caluculateRem(32);
  font-weight: 400;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
